/* Тело сайта*/
body{
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 300;
}

/* Параграфы */
p{
  font-size: 1.2em;
  font-weight: 400;
}

/* Ширина изображения логотипа*/
.logo img{
  width: 200px;
}

/* Блок первого экрана */
.hero-section{
  background: url("../images/header-bg.png") -400px 0 no-repeat;
  height: 700px;
}

/* Параграфы блока первого экрана */
.hero-section .col-md-6 > p{
  margin-top: 30px;
  font-size: 1.3em!important;
}

/* Заголовок 3-го уровня для первого экрана */
.hero-section h3{
  margin-top: 12em;
  color: #FFF;
  font-size: 1.6em;
  font-weight: 100;
}

/* Заголовок 1-го уровня для первого экрана */
.hero-section h1{
  font-weight: bold;
  color: #FFF;
  font-size: 3.5em;
  margin-top: 0;
}

/* Навигационное меню */
.navbar-default {
  background-color: rgba(0, 0, 0, 0.19);
  height: 75px;
  padding: 0px 0;
  border-radius: 0;
  border-color: transparent;
}

/* Ссылки навигационного меню */
.navbar-default .navbar-nav>li>a {
  font-size: 1em;
  margin-top: 10px;
  color: #fff;
}

/* Ссылки навигационного меню при наведении курсора */
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Высота блока с логотипом в навигационном меню */
.navbar-header{
  height: 75px;
}

/* Отступы в навигационном меню */
.navbar-collapse{
  padding: 0;
}

/* Цвет границ навигационного меню */
.navbar-default .navbar-collapse{
  border-color: #000!important;
}

/* Отступы в списке ссылок навигационного меню */
.navbar-nav{
  padding: 5px;
  margin: 0;
}

/* Цвет фона навигационного меню */
.navbar-collapse.in{
  background: #000;
}

/* Отступ для переключателя меню (для мобильных устройств) */
.navbar-toggle{
  margin-top: 20px;
}

/* Кнопка "Начать сейчас" */
#cta-hero{
  background: #F37C3D;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 1.6em;
}

/* Контент тела сайта*/
.body-content{
  background: #14355C;
  color: #fff;
}

/* Картинка с ноутбуком */
.macbook-mockup{
  position: relative;
  top: 25px;
  margin: 0 auto;
}

/* Контент блоков "Внутреняя оптимизация" и "Внешняя оптимизация" */
.block-content{
  margin-top: 100px;
  color: #4F4F4F;
}

/* Разделяющая линия */
.linee {
  width: 85%;
  border-top: 1px solid #CDC5BF;
}

/* Блок с фреймом YouTube-видео */
.thumb-wrap {
  position: relative;
  padding-bottom: 53%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* Фрейм YouTube-видео */
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;
}

/* Всплывающее окно */
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
	z-index: 10;
}

/* Содержимое всплывающего окна */
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width: 90%;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

/* Ссылки во всплывающем окне */
.b-popup-content a {
	color: #fff;
	position: absolute;
	top: 10px;
	right: 75px;
}

/* Скрытие всплывающего окна */
#popup1 {
	display: none;
}

/* Блок для слайдера */
.slider-box{
  position:relative;
  margin: auto;
  width:760px;
  height:410px;
  overflow:hidden;
}

/* Слайдер */
.slider{
  position:relative;
  width:10000px;
  height:210px;
}

/* Картинки слайдера */
.slider img{
  float:left;
}

/* Переключатели слайдера */
.slider-box .prev, .slider-box .next{
  position:absolute;
  top:200px;
  display:block;
  width:29px;
  height:29px;
  cursor:pointer;
}

/* Кнопка слайдера "Назад" */
.slider-box .prev{
  left:3px;
  background:url(../images/slider_controls.png) no-repeat 0 0;
}

/* Кнопка слайдера "Вперёд" */
.slider-box .next{
  right:3px;
  background:url(../images/slider_controls.png) no-repeat -29px 0;
}

/* Подвал сайта */
footer{
  background: #FAFAFA;
  border-top:1px solid #CDCDCD;
  border-bottom:1px solid #CDCDCD;
}

/* Блоки подвала сайта */
.footer-box{
  min-height: auto;
  padding: 40px;
}

/* Первый блок подвала сайта */
.footer-box.box-1{
  border-right: 1px solid #CDCDCD;
}

/* Второй блок подвала сайта */
.footer-box.box-2{
  border-right: 1px solid #CDCDCD;
}

/* Третий блок подвала сайта */
.footer-box.box-3{
}

/* Блок для ссылок подвала сайта */
.footer-nav{
  float: left;
}

/* Список ссылок в подвале сайта */
.footer-nav li{
  list-style: none;
  margin-bottom: 10px;
}

/* Ссылки в списке ссылок подала сайта */
.footer-nav li a{
  color: #4F4F4F;
  font-size: 1.1em;
  font-weight: 400;
}

/* Заголовок для списка ссылок в подвале сайта */
.footer-nav li.footer-nav-head{
  list-style: none;
  font-size: 1.2em;
}

/* Кнопки внутри форм */
#sendform{
  background: #F37C3D;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px 12px;
}

/* Блок с копирайтом */
.small-footer{
  padding: 20px;
  color: #616161;
  text-align: center;
}

/* Адаптивность для мобильных устройств */
@media screen and (max-width: 480px){

    .hero-section{
      height: 600px;
    }
    .hero-section h3 {
        margin-top: 8em;
    }
    .block-content {
      margin-top: 100px;
    }

    .footer-box.box-1{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-2{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-3{
    }

    .footer-nav{
      float: left;
    }


}
@media screen and (max-width: 750px){

 
}
@media (max-width: 767px){
 

}
@media screen and (max-width: 825px){
    .hero-section{
      height: 600px;
    }
    .hero-section h3 {
        margin-top: 8em;
    }
    .block-content {
      margin-top: 100px;
    }
    .footer-box.box-1{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-2{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-3{
    }

    .footer-nav{
      float: left;
    }

    .small-footer{
      text-align: center;
    }
 
}
@media (max-width: 991px) and (min-width: 768px){
    .footer-box.box-1{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-2{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-3{
    }
}

