@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Inter/Inter-Regular.ttf') format('truetype');
  src: local(''),
  url('fonts/Inter/Inter-Regular.woff2') format("woff2"),
  url("fonts/Inter/Inter-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Inter/Inter-Bold.ttf') format('truetype');
  src: local(''),
  url('fonts/Inter/Inter-Bold.woff2') format("woff2"),
  url("fonts/Inter/Inter-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Inter/Inter-Italic.ttf') format('truetype');
  src: local(''),
  url('fonts/Inter/Inter-Italic.woff2') format("woff2"),
  url("fonts/Inter/Inter-Italic.otf") format("opentype");
}

body {
  color: #222222;
  background-color: #e5e9f0;
  line-height: initial;
  font-family: Inter;
}

@media screen and (min-width: 1408px) {
  .navbar-item img {
    max-height: 100%;
  }
}

footer {
  background-color: #e5e9f0;
}

.video > .image.is-16by9 {
  padding-top: 56.254%;
}

@media screen and (max-width: 768px) {
  .video > .image.is-16by9 {
    padding-top: 56.30%;
  }
}

.footer-useful-links {
  background-color: #003366;
  border-radius: 1rem;
  padding: 3rem 8.33vw;
  cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1407px) {
  .footer-useful-links {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-useful-links {
    padding: 1.5rem 1.5rem;
  }
}

.footer-useful-links a {
  color: #ffffff;
}

.footer-dropdown-title span {
  color: #ffffff;
  line-height: 140%;
}

.footer-dropdown-title svg {
  display: inline-block;
  margin-left: .625rem;
}

.footer-useful-links.is-expanded svg {
  transform: rotate(0.5turn);
}

.footer-info-area {
  background-color: #e5e9f0;
  padding: 3rem 8.33vw;
}

@media screen and (min-width: 769px) and (max-width: 1407px) {
  .footer-info-area {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-info-area {
    padding: 1.5rem 1rem;
  }
}

.footer-info-area > :not(:last-child) {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .footer-info-area a:hover {
    color: #27509b;
  }
}

.footer-law-info-wrapper {
  border-top: 1px solid #585858;
}

.footer-law-info {
  margin-top: 1.5rem;
}

.footer-law-info a, .footer-law-info p {
  font-size: .875rem;
  line-height: 120%;
  letter-spacing: .01em;
}

.footer-law-info a, .footer-org-info a, .footer-external-resources a {
  color: #003366;
}

.footer-law-info li:last-child {
  color: #060607;
}

.footer-basic-info > :not(:last-child) {
  margin-bottom: 1rem;
}

.footer-basic-info h4 {
  font-weight: 600;
  letter-spacing: .01em;
  line-height: 140%;
  margin-bottom: .375rem;
}

.footer-basic-info p {
  letter-spacing: .01em;
  line-height: 140%;
}

.footer-law-info li + li, .footer-org-info li + li, .footer-external-resources li + li {
  margin-top: 1rem;
}

.footer-columns {
  display: flex;
  column-gap: 1.5rem;
}

.footer-column {
  flex: 1 1 calc(100%/4 - 4.5rem);
}

@media screen and (min-width: 769px) and (max-width: 1407px) {
  .footer-columns {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  .footer-column {
    flex: 1 1 calc(100%/2 - 1.5rem);
  }
}

@media screen and (max-width: 768px) {
  .footer-columns {
    display: block;
  }
  .footer-columns > div + div {
    margin-top: 2rem;
  }
  .footer-column {
    width: 100%;
  }
}

.footer-social-networks {
  display: flex;
  column-gap: 1.5rem;
}

.footer-payment-info {
  margin-top: 1rem;
}

.footer-payment-link {
  background-color: #003366;
  color: #ffffff;
  padding: 1.25rem 2rem;
  border-radius: 2rem;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .footer-payment-link:hover {
    background-color: #27509b;
  }
}

.footer-payment-link p, .minecite-link p {
  font-weight: 600;
  line-height: 120%;
}

.minecite-link {
  display: flex;
  align-items: center;
  column-gap: .3125rem;
}

.footer-hidden-menu {
  margin-top: 1.5rem;
  display: flex;
  cursor: default;
  column-gap: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .footer-hidden-menu a:hover {
    color: #ffedd6;
  }
}

.hidden-menu-column {
  flex: 1 1 calc(100%/4 - 4.5rem);
}

@media screen and (min-width: 769px) and (max-width: 1407px) {
  .footer-hidden-menu {
    flex-wrap: wrap;
    row-gap: .625rem;
  }
  .hidden-menu-column {
    flex: 1 1 calc(100%/2 - 1.5rem);
  }
}

@media screen and (max-width: 768px) {
  .footer-hidden-menu {
    display: block;
  }
  .footer-hidden-menu > nav + nav {
    margin-top: .625rem;
  }
  .hidden-menu-column {
    width: 100%;
  }
}

.footer-hidden-menu:not(.show) {
  display: none;
}

.hidden-menu-column li + li {
  margin-top: .625rem;
}

.hidden-menu-column a {
  line-height: 140%;
  letter-spacing: .01em;
}

@media screen and (min-width: 1024px) {
  .footer-useful-links:not(.is-expanded):hover {
    background-color: #27509B;
  }

  .footer-useful-links:not(.is-expanded):hover .footer-dropdown-title span {
    color: #FFEDD6;
  }

  .footer-useful-links:not(.is-expanded):hover .footer-dropdown-title svg path {
    stroke: #FFEDD6;
  }
}
